.PartyMember {
  position: relative;
  width: 100px;
}

.PartyMemberTag {
  width: 100%;
}

.PartyMemberTag p {
  width: fit-content;
  margin-inline: auto;
  font-weight: bold; /* TODO: Change font */
}

.PartyMemberTag svg {
	margin-left: 0.1rem;
	-ms-transform: translateY(20%);
  transform: translateY(20%);

  font-size: inherit;
  color: var(--clr-yellow1); /* TODO: Gold */
}

.PartyMember > div:first-child {
  width: 100px;
  height: 100px;
}

.PartyMember-actions {
  position: absolute;
  top: 49%; margin-top: 1%; /* NOTE: Fixes line on top */
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

	text-align: center;

  opacity: 0;
  transition: 0.3s ease;
  --clr-foo: 0, 0%, 0%; /* Fallback; TODO: Rename */ 
  background: linear-gradient(180deg, hsla(var(--clr-foo), 60%) 0%, hsla(var(--clr-foo), 100%) 100%);
}

body[data-theme='dark'] .PartyMember-actions {
  --clr-foo: 0, 0%, 0%;
}

body[data-theme='light'] .PartyMember-actions {
  --clr-foo: 360, 100%, 100%;
}

.PartyMember-actions[data-show='true'],
.PartyMember-actions:hover {
  opacity: 1;
}

.PartyMember-actions *:nth-child(2) {
  margin-top: 1.6rem;
  margin-bottom: 0.1rem;
}

.PartyMemberList {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  overflow: auto;
}

.PartyMemberList:focus {
  outline: solid 2px var(--clr-gray0);
}

.PartyMemberGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 0.2rem 1rem;
}
