#PartyFooter-Wrapper {
  position: fixed; /* Sticky/fixed header */
  bottom: 0.5rem; /* At the bottom */
  z-index: 99;
  width: 100%;
}

#PartyFooter {
  overflow: hidden;

  /* Center it */
  width: 80%;
  margin-inline: auto;

  padding: 1rem 1rem 0;
  background-color: var(--clr-bg1);
  border: solid var(--clr-bg2);
}

#PartyFooter .PartyMemberList {
  float: left;
  max-width: 90%; /* TODO: Change to let the actions fit */
}

#PartyFooter-Actions {
  float: right;
  max-width: 10%;

  display: grid;
  gap: 0.5rem;
}

#PartyFooter-Button {
  float: right;
  margin-right: 0.5rem;
  width: fit-content;

	border-radius: 1rem;
  padding: 0.5rem;
}

#PartyFooter-Button > svg {
  float: left;
  margin-right: 0.2rem;
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
}
