#PartyModal {
  width: 70%;
  margin-inline: auto;

  text-align: center;
}

.PartyModal-action {
  margin-top: 0.5rem;
}

.PartyModal-action .PartyMemberGrid {
  margin-top: 0.2rem;
}

#PartyModal h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#PartyModal h4 {
  font-weight: bold;
}
