.PartyMember {
  position: relative;
  width: fit-content;
}

.PartyMemberTag {
  text-align: center;
  font-weight: bold; /* TODO: Change font */
  /* TODO: Handle long names */
}

.PartyMemberTag svg {
	margin-left: 0.1rem;
	-ms-transform: translateY(20%);
  transform: translateY(20%);

  font-size: 1rem;
  color: var(--clr-yellow1); /* TODO: Gold */
}

.PartyMember img {
  max-width: 100px;
  max-height: 100px;
}

.PartyMember-actions {
  position: absolute;
  top: 49%; margin-top: 1%; /* NOTE: Fixes line on top */
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

	text-align: center;

  opacity: 0;
  transition: 0.3s ease;
  background: linear-gradient(180deg, rgba(0, 0, 0, 60%) 0%, rgba(0, 0, 0, 75%) 100%);
}

.PartyMember-actions[data-show='true'],
.PartyMember-actions:hover {
  opacity: 1;
}

.PartyMember-actions *:nth-child(2) {
  margin-top: 1.6rem;
  margin-bottom: 0.1rem;
}

.PartyMemberList {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  overflow: auto;
}

.PartyMemberList:focus {
  outline: solid 2px var(--clr-gray0);
}

.PartyMemberGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 0.2rem 1rem;
}
