#Config {
  width: 70%;
  margin-inline: auto;

  text-align: center;
}

.Config-action {
  margin-top: 0.5rem;
}

#Config h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#Config h4 {
  font-weight: bold;
}

#Config-EditProfile > * {
  margin-top: 0.2rem;
}

#Config-EditProfile > *:last-child {
  margin-top: 0.5rem;
}

#Config-PartyMember {
  width: fit-content;
  margin-inline: auto;
  cursor: pointer;
}
