#PartyFooter-Wrapper {
  position: fixed; /* Sticky/fixed header */
  bottom: 0.5rem; /* At the bottom */
  z-index: 99;
  width: 100%;
}

#PartyFooter {
  overflow: hidden;

  /* Center it */
  width: 80%;
  margin-inline: auto;

  padding: 1rem 1rem 0;
  background-color: var(--clr-bg1);
  border: solid var(--clr-bg2);
}

#PartyFooter-List {
  float: left;

  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  overflow: scroll;
  max-width: 90%; /* TODO: Change to let the actions fit */
}

#PartyFooter-List:focus {
  outline: solid 2px var(--clr-gray0);
}

.PartyFooter-Member p {
  text-align: center;
  font-weight: bold; /* TODO: Change font */
  /* TODO: Handle long names */
}

.PartyFooter-Member img {
  max-width: 100px;
  max-height: 100px;
}

#PartyFooter-Actions {
  float: right;
  max-width: 10%;

  display: grid;
  gap: 0.5rem;
}

#PartyFooter-Button {
  float: right;
  margin-right: 0.5rem;
  width: fit-content;

	border-radius: 1rem;
  padding: 0.5rem;
}

#PartyFooter-Button > svg {
  float: left;
  margin-right: 0.2rem;
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
}

#PartyModal {
  text-align: center;
}

#PartyModal h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}
