*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

html {
  font-size: 20px;
}

body {
  background-color: var(--clr-bg0);
  color: var(--clr-fg1);
}
